<br><%= link_to "ホワイトハウス","https://www.whitehouse.gov/" %>
<br><%= image_tag 't.jpeg' %>
<br><%= text_field :book,:isbn %>
<br><%= number_field :book,:isbn %>
<br><%= text_area :book, :memo %>
<br><%= check_box :book, :cd, {},0,1 %> 
<br><%= radio_button :user,:color,"red" %>赤
<%= radio_button :user,:color,"blue" %>青
<%= radio_button :user,:color,"green" %>緑
<br><%= select :user,:address, ["ドナルド・トランプ","ヒラリー・クリントン","バラク・オバマ"] %>
<select id="book_publish" name="book[publish]" >
 <option value="1">ホワイトハウス</option>
 <option value="2">日本大使館</option>
 <option value="3">伊勢志摩</option>
</select>